*~
*.pyc
.classpath
.project
.settings/
.idea/
atlassian-ide-plugin.xml
.credentials
*.mine
target/
*.iml
*.ipr
*.iws
!project/build
**/.DS_Store
*.class
properties
nbactions.xml
lib_managed/
logs/
var/
*.war
*.log
*.db
output/
